<div id='judgeme_all_reviews_page' class="page clearfix jdgm-all-reviews-page">
  <div class="jdgm-all-reviews-page__wrapper">
    <h1 class="jdgm-all-reviews-page__title">{{ page.title }}</h1>
    <div class='jdgm-all-reviews-page__description'>{{ page.content }}</div>

    {% include 'judgeme_all_reviews' %}
    
    
    <script>   $(document).ready( function() {          setTimeout( function() {             $('.jdgm-all-reviews-page .jdgm-subtab__name[data-tabname="shop-reviews"]').click();     }, 500); }); </script>
    
    
    <style>   .jdgm-branding-footer {     display:none !important;   } </style> 
    
  </div>
</div>
